<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {% if title == 'Home' %}
  <title>TheFootballAI - {{ title }}</title>
  {% elif title %}
  <title>TFAI - {{ title }}</title>
  {% else %}
  <title>The Football AI</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">
  {% block customcss %}{% endblock %}
  
</head>

<body class="d-flex flex-column">
  {% if title == 'Home' or title == 'Test'%}
    {% block customnav %}{% endblock %}
  {% else %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">The Football AI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          
          {% if title == 'Predictions' %}
          <li class="nav-item active">
            <a class="nav-link" href="/predictions">Predictions <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistics">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-our-bots">About Our Bots</a>
          </li>
          
          {% elif title == 'Statistics' %}
          <li class="nav-item">
            <a class="nav-link" href="/predictions">Predictions</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/statistics">Statistics<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-our-bots">About Our Bots</a>
          </li>
          
          {% elif title == 'About Our Bots' %}
          <li class="nav-item">
            <a class="nav-link" href="/predictions">Predictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistics">Statistics</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about-our-bots">About Our Bots<span class="sr-only">(current)</span></a>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/predictions">Predictions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statistics">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-our-bots">About Our Bots</a>
          </li>
          
          {% endif %}
          <!-- Basic dropdown -->
          <li class="nav-item dropdown">
          
          {% if title == 'Predictions Chart' %}
            <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">More</a>
            <div class="dropdown-menu dropdown-menu-right" id="navbardropdown">
              <a class="dropdown-item navdropitem active" href="/predictions-chart">Full Prediction Chart</a>
              <a class="dropdown-item navdropitem" href="/predictions-archive">Predictions Archive</a>
              <a class="dropdown-item navdropitem" href="/about-us">About Us</a>
              <a class="dropdown-item navdropitem" href="/contact-us">Contact Us</a>

          {% elif title == 'Predictions Archive' %}
            <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">More</a>
            <div class="dropdown-menu dropdown-menu-right" id="navbardropdown">
              <a class="dropdown-item navdropitem" href="/predictions-chart">Full Prediction Chart</a>
              <a class="dropdown-item navdropitem active" href="/predictions-archive">Predictions Archive</a>
              <a class="dropdown-item navdropitem" href="/about-us">About Us</a>
              <a class="dropdown-item navdropitem" href="/contact-us">Contact Us</a>


          {% elif title == 'About Us' %}
            <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">More</a>
            <div class="dropdown-menu dropdown-menu-right" id="navbardropdown">
              <a class="dropdown-item navdropitem" href="/predictions-chart">Full Prediction Chart</a>
              <a class="dropdown-item navdropitem" href="/predictions-archive">Predictions Archive</a>
              <a class="dropdown-item navdropitem active" href="/about-us">About Us</a>
              <a class="dropdown-item navdropitem" href="/contact-us">Contact Us</a>

          {% elif title == 'Contact Us' %}
            <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown">More</a>
            <div class="dropdown-menu dropdown-menu-right" id="navbardropdown">
              <a class="dropdown-item navdropitem" href="/predictions-chart">Full Prediction Chart</a>
              <a class="dropdown-item navdropitem" href="/predictions-archive">Predictions Archive</a>
              <a class="dropdown-item navdropitem" href="/about-us">About Us</a>
              <a class="dropdown-item navdropitem active" href="/contact-us">Contact Us</a>

          {% else %}           
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">More</a>
            <div class="dropdown-menu dropdown-menu-right" id="navbardropdown">
              <a class="dropdown-item navdropitem" href="/predictions-chart">Full Prediction Chart</a>
              <a class="dropdown-item navdropitem" href="/predictions-archive">Predictions Archive</a>
              <a class="dropdown-item navdropitem" href="/about-us">About Us</a>
              <a class="dropdown-item navdropitem" href="/contact-us">Contact Us</a>
              
          {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item disabled" href="#">More to come...</a>
            </div>
          </li>
          <!-- Basic dropdown -->
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}

  <!-- Page Content -->
  {% block bodycontent %}{% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark font-small text-white-50">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase"><a href="/home">The Football AI</a></h5>
          <p>Where machine learning and sports come together.</p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Prediction Links</h5>
          <ul class="list-unstyled">            
            <li>
              <a href="/predictions">Predictions</a>
            </li>
            <li>
              <a href="/predictions-chart">Full Predictions Chart</a>
            </li>
            <li>
              <a href="/statistics">Prediction Statistics</a>
            </li>
            <li>
              <a href="/predictions-archive">Predictions Archive</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">About</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about-our-bots">About Our Bots</a>
            </li>
            <li>
              <a href="/about-us">About Us</a>
            </li>
            <li>
              <a href="contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-muted py-3">© 2019 Copyright:
      <a href="/home"> The Football AI</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- Bootstrap core JavaScript -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% block customjs %}{% endblock %}

</body>

</html>