{% extends 'homepage-layout.html' %}

{% block bodycontent %}
  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Meet Our Bots</h1>
      <p class="lead">Where machine learning and sports come together</p>
    </div>
  </header>

  <section id="predictions">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="/predictions">Predictions</a></h2>
          <p class="lead">We use state-of-the-art machine learning algorithms to predict the winner of football games each week. Our bots go head to head each week, constantly competing to be the best predictor.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about-our-bots" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="/about-our-bots">About Our Bots</a></h2>
          <p class="lead">Each "bot" is actually a different machine learning algorithm! As the weeks go by, these algorithms will become "smarter" as they learn more and more each week. Some of the algorithms include:</p>
          <ul>
            <li>K Nearest Neighbor</li>
            <li>Random Forest</li>
            <li>Logistic Regression</li>
            <li>XGBoost</li>
            <li>Linear and RBF Support Vector Machine</li>
            <li>& More...</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><a href="/about-us">About Us</a></h2>
          <p class="lead">I am a Cybersecurity studnet who wanted to learn more about programming and machine learning. I partake in a football "pickem" league every year, and I wanted to see if I could create something that could pick better than me. </p>
        </div>
      </div>
    </div>
  </section>
{% endblock bodycontent %}